* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(175, 219, 238);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

.container {
    width: 350px;
    border: 2px solid rgb(7, 7, 230);
    background-color: rgba(15, 169, 240, 0.276);
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 0px 0px 10px rgba(50, 49, 49, .6);
    height: auto;
}

.header {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.boxcontainer {
    display: flex;
}

p {
    font-size: 1rem;
    color: rgb(143, 31, 31);
    padding: 7px 2px;
}

.box1 {
    width: 50%;
    padding: 10px 5px;
}

.takevalue,
#unit {
    width: 100%;
    font-size: 22px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgb(81, 8, 249);
}

#unit {
    font-size: 1.1rem;
    margin-top: 4.5px;
}

.valuecontainer {
    margin: 10px 0;
    margin-top: 20px;
}

.value {
    width: 100%;
    height: 30px;
    margin: 8px 0;
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(23, 11, 255);
}

.button {
    width: 100%;
    height: auto;
    font: 1.6rem;
    color: white;
    background-color: rgb(122, 16, 244);
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 20px 0 0 0;
}

.Emoji {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.Emoji>i {
    color: rgb(255, 11, 100);
    font-size: 3rem;
}